/* Default Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  box-sizing: border-box;
}

/* Shared Styles */

button {
  cursor: pointer;
}

.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #30b868;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn:hover {
  background-color: #02622a;
  box-shadow: 2px 2px 10px #02622a;
}

/* Header & Nav-Bar Styles */
header {
  padding: 16px 0px;
}

header nav {
  max-width: 1360px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

nav ul a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

nav ul a:hover {
  font-weight: 700;
}

/* Hero Section Styles */

#hero-section {
  background: linear-gradient(rgba(255, 255, 255, 0.175), rgba(9, 9, 9, 0.192)),
    url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 120px 0px;
}

#hero-section .hero-info {
  max-width: 1360px;
  min-height: 380px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: white;
}

.hero-info .hero-early {
  padding: 8px 12px;
  color: #30b868;
  background-color: white;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500;
}

.hero-info h1 {
  font-size: 72px;
  font-weight: 700;
}

.hero-info .hero-subheading {
  color: #30b868;
}

.hero-info .hero-bio {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn2 {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  padding: 12px 16px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn2:hover {
  background-color: white;
  color: black;
}

