/* Default Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

/* Shared Styles */

.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #30b868;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn:hover {
  background-color: #02622a;
  box-shadow: 2px 2px 10px #02622a;
}

/* Header & Nav-Bar Styles */
header {
  padding: 16px 0px;
}

header nav {
  max-width: 1360px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}

nav ul {
  display: flex;
  gap: 32px;
}

nav ul a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

nav ul a:hover {
  font-weight: 700;
}

/* Hero Section Styles */

#hero-section {
  background: linear-gradient(rgba(255, 255, 255, 0.175), rgba(9, 9, 9, 0.192)),
    url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0px;
}

#hero-section .hero-info {
  max-width: 1360px;
  min-height: 380px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: white;
}

.hero-info .hero-early {
  padding: 8px 12px;
  color: #30b868;
  background-color: white;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500;
}

.hero-info h1 {
  font-size: 72px;
  font-weight: 700;
}

.hero-info .hero-subheading {
  color: #30b868;
}

.hero-info .hero-bio {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn2 {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  padding: 12px 16px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn2:hover {
  background-color: white;
  color: black;
}

/* Highlighted Cards Section Design */

#highlight-cards {
  padding-top: 80px;
  text-align: center;
  max-width: 1360px;
  margin: 0px auto;
}

#highlight-cards h2 {
  margin-bottom: 16px;
  font-size: 48px;
  color: #001931;
  font-weight: 700;
  line-height: 58px;
}

#highlight-cards p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

.cards {
  margin-top: 44px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.cards .card {
  width: 322px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(174, 172, 172);
}

.card .card-img {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h4 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
}

/* Second Brain Banner Section Design */

#brain-section {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1360px;
  margin: 120px auto;
}

#brain-section .brain-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.brain-info h5 {
  color: #30b868;
  font-size: 16px;
  font-weight: 500;
}

.brain-info h2 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.brain-info p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
}

.brain-info ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.brain-info ul li {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}

#early-access-section {
  padding: 80px 40px;
  margin: 0px auto;
  max-width: 1360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #f7f6f2;
}

#early-access-section h2 {
  font-size: 40px;
  font-weight: 700;
}

#early-access-section p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
}

footer {
  padding-top: 120px;
  padding-bottom: 30px;
  margin-top: 120px;
  background-color: #001931;
  width: 100%;
}

#footer-info {
  max-width: 1360px;
  margin: 0px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.111);
}

#footer-info h4 {
  color: white;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
}

#footer-info .social-links .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  border-radius: 100px;
}

.social-links .icons i:hover {
  transition: 0.3s ease;
}

.social-links .icons i:hover {
  text-shadow: 0px 0px 9px rgb(118, 118, 118);
}

footer p {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
}
